.frame-inner {
  height: 159px;
  width: 1920px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.image-9-icon1 {
  height: 139px;
  width: 314px;
  object-fit: cover;
}
.image-9-icon1,
.introduction2,
.news2 {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.introduction2 {
  text-decoration: none;
  color: inherit;
}
.news2 {
  display: inline-block;
  min-width: 107px;
}
.news2,
.service2 {
  text-decoration: none;
  color: inherit;
}
.organization2,
.service2 {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.about-us3,
.credit4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.about-us3 {
  white-space: nowrap;
}
.credit4 {
  display: inline-block;
  min-width: 116px;
  cursor: pointer;
}
.introduction-container {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-midnightblue);
  font-family: var(--font-inter);
}
.frame-nav,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-nav {
  margin: 0;
  width: 1278px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-26xl) 0 0;
}
.rectangle-container {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-5xl) var(--padding-3xs)
    var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
}
.rectangle-div {
  width: 1920px;
  height: 921px;
  position: relative;
  background-color: var(--color-deepskyblue);
  display: none;
  max-width: 100%;
}
.about-us4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
  z-index: 1;
}
.about-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-base);
}
.wave-awareness-is {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-45xl);
  font-family: var(--font-judson);
  text-align: justify;
  z-index: 1;
}
.about-us2,
.frame-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-footer {
  align-self: stretch;
  background-color: var(--color-deepskyblue);
  padding: 0 var(--padding-54xl) var(--padding-108xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
.about-us2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1600px) {
  .frame-nav {
    display: none;
  }
}
@media screen and (max-width: 1275px) {
  .frame-footer {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .introduction-container {
    gap: var(--gap-8xl);
  }
  .about-us4 {
    font-size: var(--font-size-29xl);
  }
  .wave-awareness-is {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 450px) {
  .about-us4 {
    font-size: var(--font-size-10xl);
  }
  .wave-awareness-is {
    font-size: var(--font-size-19xl);
  }
  .frame-footer {
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
}
